@model IEnumerable<Assentamento.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    </br>
    </br>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CpfCnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
