@model Assentamento.Models.Visita

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Visita</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdVisita)

        <div class="form-group">
            @Html.LabelFor(model => model.IdVendedor, "Vendedor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdVendedor", String.Empty)
                @Html.ValidationMessageFor(model => model.IdVendedor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCliente, "Cliente", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCliente", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCliente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assunto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assunto)
                @Html.ValidationMessageFor(model => model.Assunto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar ao Inicio", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
