@model Assentamento.Models.Vendedor

@{
    ViewBag.Title = "Create";
}

<h2>Novo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vendedor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf)
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCargo, "Cargo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCargo", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCargo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEmpresa, "Empresa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdEmpresa", String.Empty)
                @Html.ValidationMessageFor(model => model.IdEmpresa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
