@model Assentamento.Models.Vendedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendedor</h4>
	<hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdVendedor }) |
    @Html.ActionLink("Voltar", "Index")
</p>
