@model IEnumerable<Assentamento.Models.Vendedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    </br>
    </br>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdVendedor }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdVendedor }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdVendedor })
        </td>
    </tr>
}

</table>
